{% extends 'base.html' %}
{% block body %}
<div class="item">

    <h1>Blogg {{blogg.blogg_tittel}} av
        <a class="underlinje" href ="{{url_for('forside', bruker = blogg.bruker_id)}}">
            {{blogg.alias }}
        </a></h1>

    {%if blogginnlegg %}
    {% for blogginnlegg in blogginnlegg %}

    <div class="innhold_wrapper"
         onclick="window.location.href = `{{url_for('forside', blogginnlegg = blogginnlegg.id)}}`">

        <div id="innlegg-{{loop.index}}"
             class="innlegg">

            <h1>{{ blogginnlegg.tittel }}</h1>
            <p style="color: #787c7e;">{{ blogginnlegg.dato_tidspunkt_opprettet }}</p>
            <br>
            <div class="blogginnhold">
                {{ blogginnlegg.tekst|safe }}
            </div>
        </div>

        <div class="skille">
            <p> {{antall_kommentarer[loop.index-1]}}
                {%if antall_kommentarer[loop.index-1] != 1%}
                {% print("kommentarer") %}
                {% else %}
                {% print("kommentar") %}
                {% endif %}
                | {{blogginnlegg.treff}} visninger</p>
            <div id="gradient-{{loop.index}}" class="gradient"></div>
        </div>
    </div>


    {% endfor %}
    {% else %}
        <h3>Ingen blogginnlegg å se her.</h3>
    {% endif %}

    <script>
        window.addEventListener('load', gi_gradient);

        function gi_gradient(){
            let x = 1;
            while ( document.getElementById(`innlegg-${x}`) != null ){
                if ( document.getElementById(`innlegg-${x}`).offsetHeight < 375 ){
                    document.getElementById(`gradient-${x}`).style.display = "none";
                }
                x++;
            }
        }
    </script>
</div>
{% endblock %}
